<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Login</title>
  <%= stylesheet_link_tag 'login' %>
</head>

<body>
<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
<% if flash[:warning] %><div class="warning"><%= flash[:warning] %></div><% end %>

<% form_tag do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><label for="openid_url">Or login with OpenID</p>
<input type="text" name="openid_url" id="openid_url" size="30" value=""/><br/>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
</body>
</html>
